.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentWraper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Roboto';
    font-size: 14px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    align-self: center;
}
