.profileImageContainer {
  /* width: 200px; */
  position: relative;
}
.profileImage .image {
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.profileImageContainer input {
  display: none;
}

.profileImageContainer label {
  position: absolute;
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  align-items: center;
  bottom: 0;
  right: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition: 1s ease-in;
}

.profileImageContainer label:hover {
  position: absolute;
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  align-items: center;
  bottom: 0;
  right: 25px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}
