.filterContainer {
  width: 268px;
  height: 100%;
  background: #fff;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px;
}

.container {
  display: flex;
  height: 100%;
}

.notFoundUser {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #333;

  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailsContainer {
  width: 100%;
  height: fit-content;
  background: #fff;
  padding: 16px;
}

.title {
  color: #333;

  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.detailContent {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* display: grid;
    grid-template-columns: 1fr 0.2fr; */
}

.detailContent .detailForm {
  width: 100%;
}

.detailContent .detailImage {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.detailImage .image {
  border-radius: 50%;
}

.detailImage .detailPhoto {
  color: #585858;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

.detailFooter {
  width: 100%;
  margin: 15px 0 5px 0;
  display: flex;
  justify-content: end;
}

.detailFooter .btnForm {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.detailFooterTwin {
  width: 100%;
  margin: 15px 0 5px 0;
  display: flex;
  justify-content: end;
}

.btnEdit {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background: #0fc3ed;
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.btnEdit:hover {
  background: #0eb0d4;
  color: #fff;
}

.btnSave {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background: #0231a8;
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.btnSave:hover {
  background: #0b2d85;
  color: #fff;
}

.btnCancel {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background: #0fc3ed;
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.btnCancel:hover {
  background: #15a6c7;
  color: #fff;
}
