.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 87vh;
  padding: 0 20px 0 0;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 736px) {
  .container {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}
