.title {
    color: #585858;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.form .formField {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form .formField input{
        width: 95%;
    }
}
@media screen and (max-width: 736px) {
    .form .formField input{
        width: 95%;
    }
    .form {
        display: grid;
        grid-template-columns: 1fr;
    }
}