.header {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #041b56, #0231a8);
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: normal;
  background-color: #fff;
  font-size: 18px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 299px 1px minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-areas:
    "logo separator profile"
    "logo separator menu-container";
  position: fixed;
  z-index: 4;
}

.logo {
  grid-area: logo;
  padding: 15px;
  display: flex;
  align-items: center;
  padding: 50px 20px 0 40px;
}

.logoMobile {
  display: none;
}

.separator {
  grid-area: separator;
  display: flex;
  align-items: center;
  height: 35%;
}

.profile {
  grid-area: section;
  display: flex;
  width: 300px;
  height: 80px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  margin: 10px 0 0 30px;
}

.profileImage {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0px 0px 20px;
}

.notification {
  margin-top: 15px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.username {
  color: #fff;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.mail {
  color: #b4b4b4;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownContentInitial {
  display: none;
}
.dropdownContent {
  display: block;
  position: fixed;
  width: 160px;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin: 60px 0 0 -30px;
  color: #5c5c5c;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdownContent a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.dropdownContent a:hover {
  background-color: #f7f7f7;
}

.profileSM {
  display: none;
}

@media screen and (max-width: 736px) {
  .header {
    background: #fff;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    grid-area: logo;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  .profile {
    display: none;
  }
  .profileSM {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0 26px;
  }
}

.profileSM .btnSM {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #0231a8;
  background: transparent;
  color: #0231a8;
  text-align: center;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
