.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: #fff;
  padding: 1.5em;
  /* margin-bottom: 2%; */
  border-radius: 5px;
  width: 23%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 300px;
  cursor: pointer;
}

.card:hover {
  background-color: #F2F6FF;
  border: unset;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detailContainer .count {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #5c5c5c;
}

.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
}

