.container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.children {
  padding: 20px 0 20px 20px;
  width: 100%;
  margin-left: 290px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
@media screen and (max-width: 736px) {
  .children {
    /* padding: 20px 0 20px 20px; */
    padding: 0px;
    width: 100%;
    margin-left: 0;
  }
}
